/* Styles généraux */
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    margin-left: 1cm;
    padding: 0;
}

/* Titres violets partout */
header.page-header h1 {
    color: purple;
}